@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  @apply dark:bg-gray-800;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  @apply dark:bg-gray-600;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
   @apply dark:bg-gray-500;
}
